/* Wrapper */
#wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
}

/*Banner Image*/
body {
  margin: 0;
  background-color: rgb(213,231,242);
}

.bannerimg {
  height: 100%;
  width: 100%;
}

.banner {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  width: 90%;
  /*background-color: #ccdcff;*/
}


/*Footer Styling*/
.footer {
  margin: 25px 0 0 0;
  background-color: rgb(213,231,242);
}

.footerlist {
  display: inline-block;
  margin:auto;
  padding-top: 20px;
}

.footertitle {
  font-weight: bold;
  padding-bottom: 5px;
}

.footer li {
  list-style-type: none;
  margin: auto;
  font-size: 14px;
}

.copyright {
  margin-left: 40px;
  padding-bottom: 20px;
  font-size: 13px;
}


/*Navagation Styling*/

nav{
  display: inline-block;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
}

hr{
  clear: both;
}

nav ul{
  float: right;
  display: inline-block;
  list-style-type: none;
  width: 55%;
  margin-top: 2.2%;
  margin-right: 0;
}

nav ul li{
  color:#696969;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Courgette', cursive;
}

nav ul li:hover{
  text-decoration: underline;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  background-color: #F59B0F;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

nav h1:hover{
  color: #F59B0F;
}

nav h1{
  display: inline-block;
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 2.8em;
  letter-spacing: 3px;
  font-family: 'Courgette', cursive;
  -webkit-margin-before: 1%;
  -webkit-margin-after: 0;
}

nav img {
  float: left;
  width: 6%;
  margin-left: 1%;
}

/* Content Tiles */
.tile {
  width: 30%;
  position: relative;
  font-family: sans-serif;
  float: left;
  margin: 1% 1.66%;
  border: 1px solid #C9C9C9;
  box-sizing: border-box;
  min-height: 550px;
}

.tile img {
  min-width: 150px;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

.tile h2 {
  margin-top: 43px;
}

.tile hr {
  width: 70%;
  border: none;
  height: 1px;
  color: #4C4C4C;
  background-color: #D3D3D3;
}

.tile h2,
.tile p {
  color: #4C4C4C;
  text-align: center;
}

.tile p {
  padding: 10px;
}

/* Icon inside Content Tiles */
.icon {
  position: absolute;
  border: 34px solid rgb(255,255,255);
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.icon-inner {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #F59B0F;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-graphic {
  margin: auto;
  text-align: center;
  margin-top: 15%;
  font-size: 2em;
}

/* History Page Styling */
.history h1 {
  text-align: center;
  font-family: 'Courgette', cursive;
}

.history h4 {
  margin: 40px auto 0;
  display: block;
  width: 40%;
  text-align: center;
  font-size: 18px;
}

.history p {
  margin: 30px auto;
  display: block;
  width: 40%;
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;
}

.storyimg img{
  height: 80px;
  width: 80px;
  margin: 20px 50px 20px 60px;

}

.storyimg {
  display: inline-block;
  list-style-type: none;
}

.storylist {
  margin: 0 220px 0 220px;
  /*margin: 0 auto;*/
}

