nav{
  display: inline-block;
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
}

hr{
  clear: both;
}

nav ul{
  float: right;
  display: inline-block;
  list-style-type: none;
  width: 55%;
  margin-top: 2.2%;
  margin-right: 0;
}

nav ul li{
  color:#696969;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Courgette', cursive;
}

nav ul li:hover{
  text-decoration: underline;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  background-color: #F59B0F;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

nav h1:hover{
  color: #F59B0F;
}

nav h1{
  display: inline-block;
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 2.8em;
  letter-spacing: 3px;
  font-family: 'Courgette', cursive;
  -webkit-margin-before: 1%;
  -webkit-margin-after: 0;
}

nav img {
  float: left;
  width: 6%;
  margin-left: 1%;
}
