/*SPA*/
#awards_page, #dogs_page, #employees_page, #history_page{
  display: none;
}

/* Wrapper */
#wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
}

/*Banner Image*/
body {
  margin: 0;
  background-color: rgb(213,231,242);
}

.bannerimg {
  height: 100%;
  width: 100%;
}

.banner {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  width: 90%;
  /*background-color: #ccdcff;*/
}

.banner h1 {
  font-family: 'Courgette', cursive;
  font-weight: normal;
}

.banner h1 span {
  color: rgb(252,65,56);
  font-weight: bold;
}


/*Footer Styling*/
.footer {
  clear: both;
  margin: 25px 0 0 0;
  background-color: rgb(213,231,242);
}

.footerlist {
  display: inline-block;
  margin:auto;
  padding-top: 20px;
}

.footertitle {
  font-weight: bold;
  padding-bottom: 5px;
}

.footer li {
  list-style-type: none;
  margin: auto;
  font-size: 14px;
}

.copyright {
  margin-left: 40px;
  padding-bottom: 20px;
  font-size: 13px;
}


/*Navagation Styling*/

nav{
  display: inline-block;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
}

hr{
  clear: both;
}

nav ul{
  float: right;
  display: inline-block;
  list-style-type: none;
  width: 50%;
  margin-top: 2.2%;
  margin-right: 0;
}

nav ul li{
  color:#696969;
  display: inline-block;
  font-size: 1.3em;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Courgette', cursive;
}

nav ul li:hover{
  text-decoration: underline;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  background-color: #F59B0F;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

nav h1:hover{
  color: #F59B0F;
}

nav h1{
  display: inline-block;
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 2.8em;
  letter-spacing: 3px;
  font-family: 'Courgette', cursive;
  -webkit-margin-before: 1%;
  -webkit-margin-after: 0;
}

nav img {
  float: left;
  width: 6%;
  margin-left: 1%;
}

/* Content Tiles */
.tile {
  width: 30%;
  position: relative;
  font-family: sans-serif;
  float: left;
  margin: 1% 1.66%;
  border: 1px solid #C9C9C9;
  box-sizing: border-box;
  min-height: 550px;
}

.tile img {
  width: 100%;
  height: 40%;
}

.dog-tile {
  min-width: 150px;
  max-height: 225px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.tile h2 {
  margin-top: 43px;
}

.tile hr {
  width: 70%;
  border: none;
  height: 1px;
  color: #4C4C4C;
  background-color: #D3D3D3;
}

.tile h2,
.tile p {
  color: #4C4C4C;
  text-align: center;
}

.tile p {
  padding: 10px;
}

/* Icon inside Content Tiles */
.icon {
  position: absolute;
  border: 34px solid rgb(255,255,255);
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.icon-inner {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #F59B0F;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-graphic {
  margin: auto;
  text-align: center;
  margin-top: 15%;
  font-size: 2em;
}

/*Styling for employees page*/

.employees{
  margin-left: 5%;
  width: 90%;
}

.employees h2 {
  text-align: center;
  text-decoration: underline;
}

.employees img{
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 5%;
  height: 225px;
  width: 17.5%;
  float: left;
}

.name{
  margin-left: 7.5%;
  width: 25%;
}

.name h3{
  clear: both;
  text-align: center;
  display: inline-block;
}

.intro p{
  float: right;
  margin-top: 2%;
  margin-right: 10%;
  font-size: 1.4em;
  width: 60%;
}

#hopethisworks {
  clear: right;
}

/* History Page Styling */
.history h1 {
  text-align: center;
  font-family: 'Courgette', cursive;
}

.history h4 {
  margin: 50px auto 0;
  display: block;
  width: 40%;
  text-align: center;
  font-size: 18px;
}

.history p {
  margin: 30px auto;
  display: block;
  width: 40%;
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;
}

.historypage {
  width: 90%;
}

/*.storyimg img{
  height: 80px;
  width: 80px;
  margin: 20px 50px 20px 60px;
}*/

.storyimg img{
  height: 80px;
  width: 80px;
  margin-right: 75px;
  /*margin: 20px 50px 20px 60px;*/
}

.storyimg {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
}

.storyimg-wrapper {
  width: 50% ;
  margin: 0 auto;
  padding-left: 60px;
}

.storylist {
  margin: 0 220px 0 220px;
  /*margin: 0 auto;*/
}

/* Awards Page */
.award {
  border-radius: 5px;
  background-color: #DDDDDD;
  width: 90%;
  margin: 0 auto;
  font-family: 'Courgette', cursive;
  height: 300px;
  position: relative;
}

.award img {
  max-width: 200px;
  float: left;
  position: absolute;
  transform: translate(20%, 20%);
}

.award p {
  padding-right: 20px;
  padding-top: 40px;
  text-align: center;
}

.award button {
  min-width: 150px;
  min-height: 50px;
  background-color: yellow;
  font-size: 2.5em;
  font-family: 'Courgette', cursive;
  font-weight: bold;
  border-radius: 20px;
}

.award button:focus {
  outline: 0;
}
